{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
    <div class="row justify-content-between">
        <h1>Empresas</h1>
        <div class="col-5">
            <form class="row" method="get" action="{{ path('empresa_find') }}">
                <div>
                    <input type="text" class="form-control" id="nombre" name="empresa[nombre]" placeholder="Nombre" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div>
                    <select id="sector" name="empresa[sector]"  class="form-control">
                        <option value="0">Sector</option>
                        {% for sector in sectores %}
                            <option value="{{ sector.id }}">{{ sector.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Sector</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in pager.currentPageResults %}
            <tr>
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.telefono }}</td>
                <td>{{ empresa.email }}</td>
                <td>{{ empresa.sector }}</td>
                <td style="vertical-align: middle;" class="row">
                    <a class="btn btn-primary btn-sm" href="{{ path('empresa_edit', {'id': empresa.id}) }}">Modificar</a>
                    {{ include('empresa/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-between">
        <a class="btn btn-success col-2 col-sm-2" href="{{ path('empresa_new') }}">Añadir Empresa</a>
        <div class="col-3">
            {{ pagerfanta(pager) }}
        </div>
    </div>
{% endblock %}
